.box{
  background-color: #ddd;
  margin-bottom: 10px;
  font-size: 20px;
  padding: 30px;
}
.box--active{
  background: yellow;
}
.main{
  display: flex;
  justify-content: space-between;
}
.main .box:nth-child(2){
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}
.acitve{
    outline: none; /* ❌ Tắt outline (không nên trừ khi có style thay thế) */
  border: 1px solid #ccc; /* viền thật (chiếm không gian) */
}
.thaymaune{
outline: 2px solid blue; /* ✅ Tùy chỉnh viền khi focus */
}